@using LoanApp.Web.Models;

@model LoanRequest

<form id="loanForm" method="post" asp-action="LoanRequest" novalidate>
    <br />
    <div class="container border p-4 shadow-lg rounded" style="max-width: 700px; margin: auto;">
        <h1 class="text-black text-center mb-4">Apply For Loan</h1>
        <div class="row">
            <div class="col-md-3">
                <label class="control-label pt-2" style="font-size:18px;">Name</label>
            </div>
            <div class="col-md-9 pb-3">
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label class="control-label pt-2" style="font-size:18px;">Address</label>
            </div>
            <div class="col-md-9 pb-3">
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label class="control-label pt-2" style="font-size:18px;">CreditScore</label>
            </div>
            <div class="col-md-9 pb-3">
                <input asp-for="CreditScore" class="form-control" />
                <span asp-validation-for="CreditScore" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label class="control-label pt-2" style="font-size:18px;">IdentificationNo</label>
            </div>
            <div class="col-md-9 pb-3">
                <input asp-for="ApplicantId" class="form-control" />
                <span asp-validation-for="ApplicantId" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label class="control-label pt-2" style="font-size:18px;">LoanAmount</label>
            </div>
            <div class="col-md-9 pb-3">
                <input type="range" asp-for="LoanAmount" min="10000" max="500000" step="1000"
                       class="form-range"
                       oninput="updateLoanAmountOutput(this.value)" />
                <output id="loanAmountOutput" class="form-control" style="border: none;">@Model.LoanAmount</output>
                <span asp-validation-for="LoanAmount" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label class="control-label pt-2" style="font-size:18px;">Email</label>
            </div>
            <div class="col-md-9 pb-3">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label class="control-label pt-2" style="font-size:18px;">AnnualAmt</label>
            </div>
            <div class="col-md-9 pb-3">
                <input asp-for="AnnualAmount" class="form-control" />
                <span asp-validation-for="AnnualAmount" class="text-danger"></span>
            </div>
            <div class="col-md-9">
                <button type="button" class="btn btn-danger btn-lg" onclick="window.location.href='@Url.Action("Index", "DashBoard")';">Back</button>
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-success btn-lg" id="apply-loan">Start</button>
            </div>
        </div>
    </div>
</form>

<div class="modal fade" id="dialog-box" tabindex="-1" aria-labelledby="dialogLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dialogLabel">Notification</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <p>Please check back to the dashboard.</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-success" id="close-dialogBox" data-bs-dismiss="modal" onclick="window.location.href='@Url.Action("Index", "DashBoard")';">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function updateLoanAmountOutput(value) {
            document.getElementById("loanAmountOutput").value = value;
        }

        document.getElementById("loanForm").addEventListener("submit", handleStartProcess);

        function handleStartProcess(event) {
            event.preventDefault();

            const formData = new FormData(this);
            const loanData = {};
            formData.forEach((value, key) => {
                loanData[key] = value;
            });
            fetch("/Home/LoanRequest", {
                method: "POST",
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(loanData)
            })
                .then(response => {
                    if (response.ok) {
                        handleDialogBox();
                    } else {
                        console.error("Error submitting form:", response.statusText);
                    }
                })
                .catch(err => console.log(err));
        }
        function handleDialogBox() {
            var dialogBox = new bootstrap.Modal(document.getElementById('dialog-box'));
            dialogBox.show();
        }
    </script>
    <partial name="_ValidationScriptsPartial" />
}