@using LoanApp.Web.Models;

@model LoanRequest

<form method="post" asp-action="LoanRequest">
    <br />
    <div class="container border p-4 shadow-lg rounded" style="max-width: 700px; margin: auto;">
        <h1 class="text-black text-center mb-4">Apply For Loan</h1>
        <div class="row">
            <div class="col-md-3">
                <label class="control-label pt-2" style="font-size:18px;">Name</label>
            </div>
            <div class="col-md-9 pb-3">
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label class="control-label pt-2" style="font-size:18px;">Address</label>
            </div>
            <div class="col-md-9 pb-3">
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label class="control-label pt-2" style="font-size:18px;">CreditScore</label>
            </div>
            <div class="col-md-9 pb-3">
                <input asp-for="CreditScore" class="form-control" />
                <span asp-validation-for="CreditScore" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label class="control-label pt-2" style="font-size:18px;">IdentificationNo</label>
            </div>
            <div class="col-md-9 pb-3">
                <input asp-for="ApplicantId" class="form-control" />
                <span asp-validation-for="ApplicantId" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label class="control-label pt-2" style="font-size:18px;">LoanAmount</label>
            </div>
            <div class="col-md-9 pb-3">
                <input type="range" asp-for="LoanAmount" min="10000" max="500000" step="1000"
                       class="form-range"
                       oninput="updateLoanAmountOutput(this.value)"/>
                <output id="loanAmountOutput" class="form-control" style="border: none;">@Model.LoanAmount</output>
                <span asp-validation-for="LoanAmount" class="text-danger"></span>
            </div>

            <div class="col-md-3">
                <label class="control-label pt-2" style="font-size:18px;">Email</label>
            </div>
            <div class="col-md-9 pb-3">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label class="control-label pt-2" style="font-size:18px;">AnnualAmt</label>
            </div>
            <div class="col-md-9 pb-3">
                <input asp-for="AnnualAmount" class="form-control" />
                <span asp-validation-for="AnnualAmount" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <a asp-action="Dashboard" class="btn btn-success btn-lg">BackToDashboard</a>
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-success btn-lg">Next</button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script>
        function updateLoanAmountOutput(value){
            document.getElementById("loanAmountOutput").value = value;
        }
    </script>
    <partial name="_ValidationScriptsPartial" />
}