<div class="table">
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th class="col">Loan Application Number</th>
                <th class="col">Applicant Name</th>
                <th class="col">Additional Comment</th>
                <th class="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1234</td>
                <td>Abhijit</td>
                <td>All Good</td>
                <td>Approved</td>
            </tr>
        </tbody>
    </table>
</div>